 @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

 body{
     margin-top: 50px;
     font-size: 16px;
 }

 h1,
 h2,
 h3,
 .navbar-brand{
    font-family: 'Raleway';
 }

 .navbar-brand{
     height: auto;
     font-size: 20px;
     line-height: 28px;
 }

 a{
     transition: all .35s;
 }
 a:hover{
     text-decoration: none;
 }

#slider{
    margin-bottom: 20px;
}

.navbar .nav > li > a{
    font-size: 14px;
    line-height: 28px
}

#logo-img{
    height:40px;
    float:left;
    margin-top:16px;
    margin-right:10px
}
/* PANELS */

.panel{
    border-radius: 0;
}

.panel p{
    text-align: justify;
}

.panel-title{
    font-size: 24px !important;
    line-height: 50px !important;
    text-align: center;
}

.panel-icon{
    color: #98978b;
    font-size: 64px !important;
    text-align: center;
    background-color: #f8f5f0;
    border: 1px solid #dfd7ca;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* CONTACT */

#contact{
    background-color: rgba(61, 62, 57, 0.9);
    color: #fff;
}

#contact address{
    margin-left: 15px;
    font-size: 14px;
    padding-bottom: 20px;
}

#contact h3{
    padding: 10px 0 20px;
}
.sendmessage{
    background-color: rgba(61, 62, 57, 0.9);
    color: #fff;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 6px 10px 6px;
    font-size: 13px;

}




/* FOOTER */

footer{
    background-color: #3e3f3a;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

footer #social{
    letter-spacing: 5px;
    font-size: 120%;
    padding: 0;
    margin: -2px 0 0;
}
footer #social li{
    list-style: none;
    display: inline-block;
    transition: transform .35s;
}
footer #social li:hover{
    transform: scale(1.5);
}
footer #social li a{
    color: #fff;
}
footer #social li a:hover{
    color: #93c54b;
}
