@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css');


body{
    margin-top: 65px;
    font-size: 16px;
}

h1,
h2,
h3,
.navbar-brand{
    font-family: 'Raleway';
}

.navbar-brand{
    height: auto;
    padding: 14px;
}

.navbar-brand img{
    max-height: 40px;
}

a, .btn{
    transition: all .35s;
}
a:hover{
    text-decoration: none;
}

#slider{
    margin-bottom: 20px;
}

.navbar .nav > li > a{
    font-size: 14px;
    line-height: 28px
}

/* PANELS */

.panel{
    border-radius: 0;
}

.panel p{
    text-align: justify;
}

.panel-title{
    font-size: 24px !important;
    line-height: 50px !important;
    text-align: center;
}

.panel-icon{
    color: #98978b;
    font-size: 64px !important;
    text-align: center;
    background-color: #f8f5f0;
    border: 1px solid #dfd7ca;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* CONTACT */

#contact{
    background-color: rgba(61, 62, 57, 0.9);
    color: #fff;
}

#contact address{
    margin-left: 15px;
    font-size: 14px;
    padding-bottom: 20px;
}

#contact h3{
    padding: 10px 0 20px;
}
.sendmessage{
    background-color: rgba(61, 62, 57, 0.9);
    color: #fff;
    border-radius: 20px;

    padding: 4px 10px 4px;
    font-size: 13px;

}
.contact-input{
    -webkit-appearance: none; -moz-appearance: none;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    background: rgba(245,245,245,0.9);
    outline: none;
    padding: 10px;
    font-size: 13px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 -5px 45px rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    margin-bottom: 18px;
    display: block;
}
.contact-textarea{
    -webkit-appearance: none; -moz-appearance: none;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background: rgba(245,245,245,0.8);
    outline: none;
    padding: 10px;
    font-size: 13px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 -5px 45px rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    margin-bottom: 12px;
    display: block;
}

.adresa{
    margin-top: 40px;
    padding-bottom: 10px;
}

.adresa .fa{
    font-size: 15px;
    color: #a6a6a6;
}
.adresa table,td, th {
    border:none !important;
    margin-left: -10px;
}
.gallery{
    padding-bottom: 25px;
}

.gallery-photo {
    margin-bottom: 5px;
}

.form{
    margin-top: 40px;
    border-left: 1px dashed #c9c9c9;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.adresa h3,
.form h3{
    margin-bottom: 25px;
}

.report{
    margin-top: 40px;
}

.report .panel-tabs{
    margin-top: -15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
    margin: 0;
}
.cit .obsah img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.cit blockquote {
    
    
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.cit span.cit_meno {
    color:  #98978b;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.cit span.cit_post {
    color: #656565;
    font-size: 12px;
}

/* FOOTER */

footer{
    background-color: #3e3f3a;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

footer #social{
    letter-spacing: 5px;
    font-size: 120%;
    padding: 0;
    margin: -2px 0 0;
}
footer #social li{
    list-style: none;
    display: inline-block;
    transition: transform .35s;
}
footer #social li:hover{
    transform: scale(1.5);
}
footer #social li a{
    color: #fff;
}
footer #social li a:hover{
    color: #93c54b;
}

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}
.panel-primary > .panel-heading{

    background-color: #3e3f3a;
    border-color:  #3e3f3a;
}
.panel-primary {
    border-color:  #3e3f3a;
    border-radius: 5px;
}
.panel-title{
    text-align: left;
}
.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 15px;
    font-size: 10px;
    border: 1px solid rgba(1,1,1,0.3) ;
}
.btn-circle:hover, .btn-circle:focus, .btn.focus {
    width:30px;
    height: 30px;
    background-color: #222;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid rgba(1,1,1,0.3) ;
}
